* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body * {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerRight {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerRight > form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  border: 0.5px solid rgb(126, 96, 177);
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgb(128, 101, 175);
}
.ContainerRight > form > h1 {
  color: rgb(66, 8, 167);
  font-weight: 800;
}

.ContainerLeft > h1 {
  color: rgb(75, 20, 171);
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2rem;
}
.ContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ImgLeft {
  width: 25vw;
}
.textFild {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  width: 100%;
}
.textFild > input {
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-size: 12pt;
  box-shadow: 0px 1px 10px rgb(75, 20, 171);
  outline: none;
}
.textFild > label {
  margin-bottom: 6px;
}
.ContainerRight > form > button {
  width: 60%;
  height: 5vh;
  margin: 0.8rem 0rem;
  border: 1px solid rgb(75, 20, 171);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(75, 20, 171);
  font-weight: 800;
  transition: background-color 0.5s ease, transform 0.5s ease;
  letter-spacing: 0.8px;
  cursor: pointer;
  box-shadow: 0px 5px 20px -10px rgb(75, 20, 171);
}
.ContainerRight > form > button:hover {
  background-color: rgb(75, 20, 171);
  color: white;
}

@media only screen and (max-width: 950px) {
  .ContainerRight > form {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .ContainerLeft > h1 {
    display: none;
  }
  .ContainerLeft {
    width: 100%;
    height: auto;
  }
  .ContainerRight {
    width: 100%;
    height: auto;
  }
  .ImgLeft {
    width: 50vw;
  }
  .ContainerLeft {
    display: flex;
    justify-content: center;
  }
  .ContainerRight > form {
    width: 90%;
  }
}
